body {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    background-color: #f3e5d7;
    color: #5f564d;

    display: flex;
    align-items: center;
    justify-content: center;
}